---

{% if prometheus_alertmanager_slack.enabled %}
route:
  receiver: 'slack'

receivers:
  - name: 'slack'
    slack_configs:
      - api_url: '{{ prometheus_alertmanager_slack.api_url|default('') }}'
        channel: '{{ prometheus_alertmanager_slack.channel }}'
        username: '{{ prometheus_alertmanager_slack.username }}'
        text: {% raw %}"<!channel> \nsummary: {{ .CommonAnnotations.summary }}\ndescription: {{ .CommonAnnotations.description }}"{% endraw %}
{% endif %}
