{
  "services": [
    {
      "name": "{{ prometheus.node_exporter.service.name }}",
{% if prometheus.node_exporter.service.tags %}
      "tags": ["{{ prometheus.node_exporter.service.tags|join('", "') }}"],
{% endif %}
{% if prometheus.node_exporter.service.meta %}
      "meta": {
{% for key, value in prometheus.node_exporter.service.meta.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
      },
{% endif %}
      "address": "{{ prometheus.node_exporter.host }}",
      "port": {{ prometheus.node_exporter.port }},
      "checks": [
        {
          "id": "node_exporter_check",
          "name": "Prometheus node exporter health check",
          "http": "http://{{ prometheus.node_exporter.host }}:{{ prometheus.node_exporter.port }}",
          "interval": "20s"
        }
      ]
    },
    {
      "name": "{{ prometheus.cadvisor_exporter.service.name }}",
{% if prometheus.cadvisor_exporter.service.tags %}
      "tags": ["{{ prometheus.cadvisor_exporter.service.tags|join('", "') }}"],
{% endif %}
{% if prometheus.cadvisor_exporter.service.meta %}
      "meta": {
{% for key, value in prometheus.cadvisor_exporter.service.meta.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
      },
{% endif %}
      "address": "{{ prometheus.cadvisor_exporter.host }}",
      "port": {{ prometheus.cadvisor_exporter.port }},
      "checks": [
        {
          "id": "cadvisor_exporter_check",
          "name": "Prometheus cAdvisor exporter health check",
          "http": "http://{{ prometheus.cadvisor_exporter.host }}:{{ prometheus.cadvisor_exporter.port }}",
          "interval": "20s"
        }
      ]
    },
    {
      "name": "{{ prometheus.docker_exporter.service.name }}",
{% if prometheus.docker_exporter.service.tags %}
      "tags": ["{{ prometheus.docker_exporter.service.tags|join('", "') }}"],
{% endif %}
{% if prometheus.docker_exporter.service.meta %}
      "meta": {
{% for key, value in prometheus.docker_exporter.service.meta.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
      },
{% endif %}
      "address": "{{ prometheus.docker_exporter.host }}",
      "port": {{ prometheus.docker_exporter.port }},
      "checks": [
        {
          "id": "docker_exporter_check",
          "name": "Prometheus Docker exporter health check",
          "http": "http://{{ prometheus.docker_exporter.host }}:{{ prometheus.docker_exporter.port }}/metrics",
          "interval": "20s"
        }
      ]
{% if prometheus.server.enabled|default(False) %}
    },
    {
      "name": "{{ prometheus.server.service.name }}",
      "address": "{{ prometheus.server.host }}",
      "port": {{ prometheus.server.port }},
{% if prometheus.server.service.meta %}
      "meta": {
{% for key, value in prometheus.server.service.meta.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
      },
{% endif %}
      "checks": [
        {
          "id": "prometheus_server_check",
          "name": "Prometheus server health check",
          "http": "http://{{ prometheus.server.host }}:{{ prometheus.server.port }}/-/healthy",
          "interval": "20s"
        }
      ]
{% if prometheus.alertmanager.enabled|default(False) %}
    },
    {
      "name": "{{ prometheus.alertmanager.service.name }}",
      "address": "{{ prometheus.alertmanager.host }}",
      "port": {{ prometheus.alertmanager.port }},
{% if prometheus.alertmanager.service.meta %}
      "meta": {
{% for key, value in prometheus.alertmanager.service.meta.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
      },
{% endif %}
      "checks": [
        {
          "id": "alertmanager_check",
          "name": "Prometheus alert manager health check",
          "http": "http://{{ prometheus.alertmanager.host }}:{{ prometheus.alertmanager.port }}",
          "interval": "20s"
        }
      ]
{% endif %}
{% endif %}
    }
  ]
}
