---

global:
  scrape_interval: 15s
  evaluation_interval: 15s

  external_labels:
    monitor: 'prometheus'


rule_files:
  - "/etc/prometheus/rules.d/*.rules.yml"

{% if prometheus.alertmanager.enabled %}
alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
          - 'alertmanager:9093'
{% endif %}

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

{% if prometheus.server.exporters %}
  - job_name: 'exporters'
    consul_sd_configs:
      - server: 'consul.service.consul:8500'
        services: [{% for service in prometheus.server.exporters %}'{{ service }}'{% if not loop.last %}, {% endif %}{% endfor %}]
    relabel_configs:
      - source_labels: ['__meta_consul_service']
        target_label: exporter
      - source_labels: ['__meta_consul_dc']
        target_label: dc
      - source_labels: ['__meta_consul_node']
        regex:         '(.*)'
        target_label:  'node'
        replacement:   '$1'
      - source_labels: ['__meta_consul_service_metadata_tier']
        regex:         '(.*)'
        target_label:  'tier'
        replacement:   '$1'
{% endif %}

{% if prometheus.server.services %}
  - job_name: 'apps'
    metrics_path: /-/metrics
    consul_sd_configs:
      - server: 'consul.service.consul:8500'
        services: [{% for service in prometheus.server.services %}'{{ service }}'{% if not loop.last %}, {% endif %}{% endfor %}]
    relabel_configs:
      - source_labels: ['__meta_consul_dc']
        target_label: dc
      - source_labels: ['__meta_consul_node']
        regex:         '(.*)'
        target_label:  'node'
        replacement:   '$1'
      - source_labels: ['__meta_consul_service_metadata_tier']
        regex:         '(.*)'
        target_label:  'tier'
        replacement:   '$1'
{% endif %}
